<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <context:property-placeholder location="classpath:properties/env.properties"/>

    <!-- context mvc -->
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

    <!-- 定义Controller的扫描包 -->
    <context:component-scan base-package="com.atguigu.manager.controller"/>

    <!-- 定义视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="#{5*1024*1024}"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--文件上传客户端-->
    <bean id="storageClient" class="com.atguigu.common.util.StorageClientFactoryBean">
        <property name="tracker" value="120.78.221.13:22122"/>
    </bean>

    <!-- 配置dubbo应用服务 -->
    <dubbo:application name="atguigu-manager"/>

    <!-- dubbo注册中心服务
		protocol:使用保存信息的协议
		address:zookeeper的ip和端口号  如果是多个集群,192.168.220.118:2181,192.168.220.119:2181,192.168.220.120:2181-->
    <dubbo:registry protocol="zookeeper" address="120.78.221.13:2181"/>

    <!-- 在dubbo协议中暴露 20880
		name:必须指定dubbo
		port:当前应用暴露的端口号
	-->
    <dubbo:protocol name="dubbo" port="20880"/>
    
    <!-- 把代理对象注册到zookeeper中,默认 3秒-->
    <dubbo:reference interface="com.atguigu.manager.service.DemoService" id="demoService"/>

    <dubbo:reference interface="com.atguigu.manager.service.CategoryService" id="categoryService"/>
    <dubbo:reference interface="com.atguigu.manager.service.ProductService" id="productService"/>
    <dubbo:reference interface="com.atguigu.manager.service.UserService" id="uerService"/>
</beans>